@import url('./general.css');

.contact-hero-sec {
    background-image: url('../images/about-us.png');
}

.contact-hero-sec p {
    width: 948px;
}

.contact-form-section {
    padding: 100px 0px;
}

.contact-img {
    width: 83px;
}

.contact-detail {
    width: 80%;
}

.contact-detail h3 {
    font-size: 22px;
    line-height: 32px;
    font-weight: var(--font-weight-semibold);
    font-family: var(--font-body);
    color: var(--color-secondary);
    margin-bottom: 0px;
}

.contact-detail a {
    font-size: 20px;
    line-height: 32px;
    font-weight: var(--font-weight-regular);
    font-family: var(--font-body);
    color: var(--color-secondary);
    text-decoration: none;
}

.contact-form-box {
    padding: 30px 40px;
    background-color: var(--color-primary);
    border-radius: 30px;
}

.contact-form-box h3 {
    font-size: 46px;
    line-height: 75px;
    font-weight: var(--font-weight-semibold);
    font-family: var(--font-heading);
    color: var(--color-text-white);
}

.form-fields-group label {
    font-size: 22px;
    line-height: 30px;
    font-weight: var(--font-weight-medium);
    font-family: var(--font-body);
    color: var(--color-text-white);
}

.form-fields-group input,
.form-fields-group textarea {
    width: 100%;
    height: 77px;
    padding: 0px 21px 0px 21px;
    border-radius: 18px;
    font-size: 20px;
    line-height: 30px;
    font-weight: var(--font-weight-regular);
    font-family: var(--font-body);
    color: var(--color-secondary);
    border: none;
    margin-top: 10px;
}

.form-fields-group input::placeholder,
.form-fields-group textarea::placeholder {
    color: var(--color-secondary);
}

.form-fields-group textarea {
    height: 200px;
}

@media only screen and (max-width: 880px) {
    .contact-form-section {
        padding: 50px 0px;
    }
}

@media only screen and (max-width: 480px) {
    .contact-form-box h3 {
        font-size: 32px;
        line-height: 42px;
    }

    .contact-form-box {
        padding: 30px 20px;
    }
}